<form
  [formGroup]="passwordForm"
  (ngSubmit)="onSubmitPassword()"
  class="px-5 py-3"
>
  <p class="fs-5 pb-3 text-black-50 justify-text">
    If you'd like to change a password, please
    assign new password below and write it once
    again below to confirm action.
  </p>
  <div
    *ngFor="let passInput of passwordInputs"
    class="input-group my-3"
  >
    <input
      *ngIf="
        passInput.formControl ===
          'confirmPassword';
        else AltInput
      "
      class="form-control"
      [type]="
        passInput.hidden ? passInput.type : 'text'
      "
      [ngClass]="setInvalidClass(passInput)"
      [placeholder]="passInput.placeholder"
      [formControlName]="passInput.formControl"
    />

    <ng-template #AltInput>
      <input
        class="form-control"
        [type]="
          passInput.hidden
            ? passInput.type
            : 'text'
        "
        [placeholder]="passInput.placeholder"
        [formControlName]="passInput.formControl"
      />
    </ng-template>

    <button
      type="button"
      class="input-group-text"
      (click)="
        onToggleVisibility(passInput.formControl)
      "
    >
      <i
        class="bi"
        [ngClass]="
          passInput.hidden
            ? 'bi-eye'
            : 'bi-eye-slash'
        "
      ></i>
    </button>
  </div>

  <p
    *ngIf="
      !comparePasswords() &&
      passwordForm.controls['confirmPassword']
        .dirty
    "
    class="text-danger text-center"
  >
    Passed passwords differs or not filled
  </p>

  <div class="d-flex justify-content-center pt-4">
    <button
      class="btn"
      [ngClass]="
        comparePasswords()
          ? 'btn-outline-success'
          : 'btn-danger'
      "
      type="submit"
      [disabled]="!comparePasswords()"
    >
      Change password
    </button>
  </div>
</form>
