<section
  class="container-fluid row gap-4 d-sm-flex flex-md-column flex-lg-row"
>
  <div
    class="container col-lg-5 col-md-12 border shadow rounded-2 p-3 customWidth"
  >
    <app-update-user-data-from
      (userDataEmitter)="onSaveUserData($event)"
      [disabled]="
        disabledForms.disabledUserDataForm
      "
    ></app-update-user-data-from>
  </div>
  <div
    class="container col-lg-5 col-md-12 border shadow rounded-2 p-3 customWidth"
  >
    <app-password-form
      (passwordEmitter)="
        onSaveNewPassword($event)
      "
      [disabled]="
        disabledForms.disabledPasswordForm
      "
    ></app-password-form>
  </div>
</section>

<ng-template appToast></ng-template>
