@mixin navAnimation($time, $position) {
  transition: $time;
  transform: translateY($position);
}

.navbar-area {
  z-index: 5;
  height: 1.5rem;

  .navbar {
    @include navAnimation(0.3s, -100%);
  }

  .showNav {
    @include navAnimation(0.3s, -100%);
  }

  &:hover .navbar {
    @include navAnimation(0.3s, 0);
    z-index: 100;
  }
}