<li
  class="list-group-item d-flex align-items-center justify-content-between selectItem border-0 border-bottom px-4"
  (click)="onToggleModal()"
>
  <div class="fs-6 row container-fluid">
    <div class="col-12">
      <span class="h5">
        {{ product.brand | uppercase }}
        {{ product.model | uppercase }}
        <span class="text-gray fst-italic"
          >({{ product.name }})</span
        >
      </span>
    </div>
  </div>
  <div class="d-flex gap-3">
    <button
      (click)="onUpdate($event)"
      class="btn btn-success"
    >
      Update
    </button>
    <button
      class="btn btn-outline-danger"
      (click)="onDeleteProduct($event)"
    >
      Delete
    </button>
  </div>
</li>

<app-modal
  *ngIf="showModalDetails"
  [modalDetails]="{
    title: product.brand + ' ' + product.name
  }"
  (closeDialogEmitter)="onToggleModal()"
>
  <div
    body
    class="px-4"
  >
    <h4 class="h4 text-center">Details</h4>
    <dl class="row">
      <dt class="col-6">Category:</dt>
      <dd class="col">
        {{ product.category }}
      </dd>

      <dt class="col-6">Subcategory:</dt>
      <dd class="col">
        {{ product.subcategory }}
      </dd>

      <dt class="col-6">Price:</dt>
      <dd class="col">
        {{ product.price | currency }}
      </dd>

      <dt class="col-6">Amount:</dt>
      <dd class="col">{{ product.amount }}</dd>
    </dl>
    <div class="row py-2">
      <h5 class="h4 text-center">Description:</h5>
      <p>{{ product.description }}</p>
    </div>
  </div>
</app-modal>
